.friendList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 20px;
}
.friendCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100px;
}

.name {
  font-weight: 900;
  margin: 0;
}

.isOnline {
  color: green;
}

.isOffline {
  color: red;
}
